body {
    background-color: rgb(226, 226, 81);
}

h1 {
    text-align: center;
}

#donationForm {
    text-align: center;
    font-size: 2em;
}

#donationForm a {
    text-decoration: none;
}

#statements, #events, #volunteers, #images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;      
}

#biography {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 30%;
    text-align: center
}

.statement, .event, .volunteer, .bio {
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
}

/* Statement */
.statement {
    background-color: burlywood;
}

/* Events */
.event {
    background-color: goldenrod;
    text-align: center;
    width: 33%;
}

/* Volunteers */
.volunteer {
    background-color: rgb(167, 133, 47);
    width: 45%;
}

/* Biography */
.bio {
    background-color: rgb(192, 163, 90);
}

/* Images */
.imageCard {
    background-color: rgb(129, 113, 67);
    width: 45%;
    margin: 1%;
    box-shadow: 10px 10px 5px lightgray;
    padding: 10px 5px;
    color: #212121;
}

.image {
    max-width: 90%;
    max-height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#missionStatement {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#voterRegistration {
    font-size: 2em;
    background: white;
    animation: animationFrames 2s infinite;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@keyframes animationFrames{
    50% {
     background-color: brown;
    }
  }

#voterRegistration a {
    text-decoration: none;
}